/*CSS Reset*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
    border: 1px solid black;
  /*put a border around everything to see where it stops and starts*/
}
/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height: 1.5;
    color:#4F4F4F;
    font-family: 'PT Sans', sans-serif;
}
h1, h2, h3, h4{
    color:#b30000;
    letter-spacing: 3px;
    text-align: left;
}
h1{
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    margin: .5% 40%;
}

.header1 {
    letter-spacing: 0px;
    margin-top: 10%;
    margin-bottom: 0%;
}

h2{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}
h3{
    font-size:2.5rem;
    font-family: 'Ubuntu', sans-serif;
}
section{
    padding: 1% 0;
}
a{
    text-decoration:none;
    letter-spacing: 4px;
    color:#cccccc;
    font-family: 'Poppins', sans-serif;
}
a:hover{
    width: 100%;
    background-color:#000;
    color:#fff;
}
/* DISPLAY FLEX ALWAYS GOES ON THE PARENT - ALWAYS TARGET PARENT OF ITEMS YOU WANT TO FLEX */
header nav {
    position: fixed;
    width: 96%;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.tophead {
    width: 25%;
    margin-left: 2%;
}

.links {
    background-color: #b30000;
    display: flex;
    flex-direction: row;
    width: 22.5%;
    justify-content: right;
}

.top{
    height: 70rem;
    margin-top: 5%;  
    display: flex;
    width: 100%;
    padding: 4.5% 5% 0 5%;
}

.projects-btn{
    background-color: #b30000;
    margin-bottom: 20%;
    padding: 1%;
    border-radius: 25px;
    text-align: center;
}

.imgContainer{
    background-image: url("https://picsum.photos/1200/600");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery {
    width: 95%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    width: 100%;
}

.gallery h3 {
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer {
    background-color: #f8f2ec;
    color:#000;
    padding:2% 0;
    display: flex;
    justify-content: space-evenly;
}

.contact-btn {
    background-color: #b30000;
}

.logo-pics {
    width: 80%;
    height: 30%;
    margin: auto 0;
    padding: 2% 5%;
}

.social-icons{
    display:flex;
    width: 35%;
    align-items: center;
    justify-content: space-between;

}

.social-icons img{
    margin: 0 auto;
    padding-left: 10%;
}

/* Media Query at 800px View */
@media (max-width: 800px){

}

/****************** MOBILE SIZE *************/

/* Media Query at 500px View */
@media (max-width: 500px){

    h1, h2, h3, h4{
        letter-spacing: 2px;
    }

    h1{
        font-size: 4rem;
       /* margin: .5% 40%; */
    }
    
    .header1 {
        text-align: center;
        margin: 8%; 
    }
    
    h2{
        text-align: center;
        font-size: 2.5rem;
    }

    h3{
        font-size: 1.8rem;
    }
    
    section{
        padding: 3% 0;
    }

    a{
        /*width: 100%; */
        letter-spacing: 2px;
    }

    header nav {
        position: relative;
        width: 100%;
        flex-direction: column;
    }
    
    .tophead {
        width: 50%;
        margin-bottom: 2%;
        /*margin-left: 5%; */
    }
    
    .links {
        flex-direction: column;
        width: 24%;
        text-align: center;
    }
    
    .top{
        height: 25rem;
        margin-top: 1%;  
    }
    
    .projects-btn{
        margin-top: 4%;
        border-radius: 20px;
    }


    .gallery {
        width: 100%;
        margin: 0 auto;

    }

    .gallery-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .gallery div {
        width: 40%;
        margin-bottom: 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    footer {
        
        padding:2% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .contact-btn {
       margin-left: 38%;
    }
    .logo-pics {
        width: 60%;
        height: 100%;
        margin: auto 0;
        padding: 2% 5%;
    }
    
    nav .social-icons{
        margin-left: 32%;
    }

    .social-icons a{
        display:flex;
        width: 50%;
        margin: 6%;
        align-items: center;
        justify-content: space-evenly;
    
    }
    
    .footer-div h3 {
        width: 50%;
        margin-left: 25%;
        text-align: center;
    }

    .social-icons a:hover {
    width: 100%;
    display: none;
    }

    .social-icons img{
        margin: 0 auto;
        padding-left: 10%;
    }
    
}