/*CSS Reset*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
    /* border: 1px solid black; */
  /*put a border around everything to see where it stops and starts*/
}

/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height: 1.5;
    color:#4F4F4F;
    font-family: 'PT Sans', sans-serif;
}
h1, h2, h3, h4{
    color:#b30000;
    letter-spacing: 3px;
    text-align: left;
}
h1{
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    margin: .5% 40%;
}

.header1 {
    letter-spacing: 0px;
    margin-top: 10%;
    margin-bottom: 0%;
}

h2{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}
h3{
    font-size:2.5rem;
    font-family: 'Ubuntu', sans-serif;
}
section{
    padding: 1% 0;
}

a{
    text-decoration:none;
    letter-spacing: 4px;
    color:#cccccc;
    font-family: 'Poppins', sans-serif;
}

.links a:hover{
    width: 100%;
    background-color:#000;
    color:#fff;
}

header nav {
    width: 96%;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.tophead {
    width: 25%;
    margin-left: 2%;
}

.links {
    background-color: #b30000;
    display: flex;
    flex-direction: row;
    width: 22.5%;
    justify-content: right;
}

/* Top Styles */
.top{
    height: 70rem;
    display: flex;
    width: 100%;
    padding: 4.5% 5% 0 5%;
}

.projects-btn{
    background-color: #b30000;
    margin-bottom: 20%;
    padding: 1%;
    border-radius: 25px;
    text-align: center;
}

.imgContainer{
    background-image: url("https://picsum.photos/1200/600");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Gallery Styles */
.gallery {
    width:95%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 100%;
}

.gallery div {
    width: 30%;
}

.gallery h3 {
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


/* Footer Styles */
footer {
    background-color: #f8f2ec;
    padding:2% 0;
    display: flex;
    justify-content: space-evenly;
}

.contact-me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.footer-div h3 {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.contact-btn {
    background-color: #b30000;
}

.logo-pics {
    width: 100%;
    height: 30%;
    margin: auto 0;
    padding: 2% 5%;
}

.social-icons{
    display:flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.social-icons a:hover {
    width: 70%;
    }

.social-icons img{
    margin: 0 auto;
    padding-left: 10%;
}

.icon-container {
    justify-content: center;
    width: 30%;
}





/******************** TABLET VIEW *******************/

/* Media Query at 800px View */
@media (max-width: 800px){
    h1, h2, h3, h4 {
        letter-spacing: 3px;
    }

    h1 {
        font-size: 4.5rem;
    }
    
    .header1 {
        margin: 3%; 
    }
    
    h2 {
        text-align: center;
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }
    
    section {
        padding: 4% 0;
    }

    a {
        letter-spacing: 4px;
    }

    header nav {
        position: relative;
        width: 100%;
        flex-direction: column;
    }
    
    .tophead {
        width: 50%;
        margin-bottom: 2%;
    }
    
    .links {
        flex-direction: column;
        width: 20%;
        text-align: center;
    }
    
    .links a:hover{
        background-color:#b30000;
    }
    .top{
        height: 40rem;
        margin: 2% 0 5% 0;
    }
    
    .projects-btn{
        display: flex;
        align-items: center;
        margin-bottom: 0%;
        border-radius: 20px;
    }

    .gallery {
        width: 100%;
        margin: 0 auto;
    }

    .gallery-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .gallery div {
        width: 30%;
        margin-bottom: 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    footer {
        padding: 2% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .contact-me {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }

    .contact-btn {
        border-radius: 25px;
        width: 20%;
    }

    .social-icons a{
        width: 20%;
    }
    
    .footer-div h3 {
        width: 50%;
        text-align: center;
    }

    .social-icons a:hover {
        width: 20%;
    }

    .social-icons {
        display: flex;
        justify-content: center;
    }

}







/****************** MOBILE SIZE *************/

/* Media Query at 500px View */
@media (max-width: 500px){

    h1, h2, h3, h4{
        letter-spacing: 2px;
    }

    h1{
        font-size: 4rem;
    }
    
    .header1 {
        text-align: center;
        margin: 8%; 
    }
    
    h2{
        text-align: center;
        font-size: 2.5rem;
    }

    h3{
        font-size: 1.8rem;
    }
    
    section{
        padding: 3% 0;
    }

    a{
        letter-spacing: 2px;
    }

    header nav {
        position: relative;
        width: 100%;
        flex-direction: column;
    }
    
    .tophead {
        width: 50%;
        margin-bottom: 2%;
    }
    
    .links {
        flex-direction: column;
        width: 24%;
        text-align: center;
    }

    .links a:hover{
        background-color:#b30000;
    }
    
    .top{
        height: 25rem;
        margin: 1% 0 3% 0;
    }
    
    .projects-btn{
        margin-top: 4%;
        border-radius: 20px;
    }

    .gallery {
        width: 100%;
        margin: 0 auto;
    }

    .gallery-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .gallery div {
        width: 40%;
        margin-bottom: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    footer {
        padding: 2% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .contact-me {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }

    .contact-btn {
        border-radius: 25px;
        width: 25%;
        margin: 0 auto;
    }

    .social-icons a{
        width: 20%;
    }
    
    .footer-div h3 {
        width: 50%;
        text-align: center;
    }

    .social-icons a:hover {
        width: 20%;
    }
}